@{
    ViewData["Title"] = "Person By ID";
}
@model PersonModel;
<h1>@ViewData["Title"]</h1>

<table>
    <tr>
        <td>Nome</td>
        <td>Cognome</td>
    </tr>
    <tr>
        <td>@Model.Nome</td>
        <td>@Model.Cognome</td>
    </tr>
</table>